#root {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100vh;
}
.pagination-wrapper {
  margin: 20px auto 0 auto;
}

.page-link {
  cursor: pointer;
  outline: none;
}

.new-user__wrapper,
.selected-user__form {
  width: 700px;
  height: calc(100vh - 112px);
  margin: 20px auto;
  display: flex;
  flex-flow: column;
}

.form-control {
  resize: none;
}

.btn {
  width: 100px;
}

.card-icons {
  position: absolute;
  top: 7px;
  right: 7px;
}

.card-icons img {
  margin: 0 5px;
  cursor: pointer;
}

.modal-icon {
  margin: 0 5px;
  cursor: pointer;
}

.spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
}
